@model TestsApp.Models.IndexViewModel
@{
    ViewBag.Title = "Test Web API";
}

<div class="text-center" style="margin-top:250px" data-bind="visible: model.view() == 'noauth'">
    @Html.ActionLink("Авторизоваться", "Login", null, new { @class = "btn btn-primary" })
</div>


@if (Model != null && Model.UserVK != null && Model.FriendsVK != null) {
    <div style="margin-bottom:20px" data-bind="visible: model.view() != 'noauth' && model.view() != ''">
        <div>
            <h4>Добро пожаловать, @Model.UserVK.Response.FirstOrDefault().Last_name @Model.UserVK.Response.FirstOrDefault().First_name</h4>
            <br />
            @if (Model.FriendsVK.Response.Count != 0) {
                <h5>Список друзей</h5>
                <ol>
                    @foreach (var item in Model.FriendsVK.Response.Items) {
                        <li>@item.Last_name @item.First_name</li>
                    }
                </ol>
            }
            else {
                <h4>У Вас нет друзей</h4>
            }
        </div>
        @Html.ActionLink("Выйти", "Logout", null, new { @class = "btn btn-dark" })
    </div>
}

<div class="text-center" data-bind="visible: model.view() == 'start'">
    <h1>Тест на знание Web API!</h1>
    <button class="btn btn-primary" style="margin-top:100px" data-bind="click: showQuestion">Начать тест</button>
    <div id="wait" style="margin-top:20px"></div>
</div>

<div data-bind="visible: model.view() == 'form'">
    <div class="card">
        <div class="card-header text-white bg-primary"><h4>Вопрос <span data-bind="text: model.test.number()"></span> из <span data-bind="text: model.totalQuestions()"></span></h4></div>
        <div class="card-body">

            <div class="form-group">
                <div class="form-control border-primary text-primary font-weight-bold" style="height:60px;">
                    <label data-bind="text: model.test.question()"></label>
                </div>

                <div class="form-control" style="margin-top:15px">
                    <input type="radio" id="answer_1" name="answer" data-bind="value: model.test.answers()[0]" />
                    <label for="answer_1" data-bind="text: model.test.answers()[0]"></label>
                </div>

                <div class="form-control" style="margin-top:15px">
                    <input type="radio" id="answer_2" name="answer" data-bind="value: model.test.answers()[1]" />
                    <label for="answer_2" data-bind="text: model.test.answers()[1]"></label>
                </div>

                <div class="form-control" style="margin-top:15px">
                    <input type="radio" id="answer_3" name="answer" data-bind="value: model.test.answers()[2]" />
                    <label for="answer_3" data-bind="text: model.test.answers()[2]"></label>
                </div>

                <div class="form-control" style="margin-top:15px">
                    <input type="radio" id="answer_4" name="answer" data-bind="value: model.test.answers()[3]" />
                    <label for="answer_4" data-bind="text: model.test.answers()[3]"></label>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" data-bind="click: sendAnswer">Ответить</button>
            </div>
        </div>
    </div>
</div>

<div data-bind="visible: model.view() == 'result'">
    <div class="card">
        <div class="card-header text-white bg-primary h1">
            Твой результат!
        </div>

        <div class="card-body h4">
            Всего вопросов:
            <span data-bind="text: model.totalQuestions()"></span><br />
            Правильных ответов:
            <span data-bind="text: model.numberOfCorrectAnswers()"></span>
        </div>
    </div>

    <br />
    <div>
        @Html.ActionLink("Пройти тест еще раз", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            model.view("@Model.View")
        });
    </script>
}
